.section__image {
  display: block;
  max-width: 600px;
  padding: 10px;
  background-color: #fbe4df;
  border-radius: 20px 50px;
  margin: auto;
}

.section__image--hide {
  display: none;
}

.section__button {
  display: block;
  margin: auto;
  color: #fbe4df;
  background-color: #3c481b;
  padding: 6px;
}