html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
  line-height: normal;
}
.container {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto;
  max-width: 1500px;
  display: block;
  background-color: #b5b35c;
  background: url("https://i.ibb.co/qJ4wMNz/DSC03324bluuuur.jpg");
  opacity: 96%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer {
  text-align: left;
  font-size: 10px;
}
