/*navigation*/
.navigation__list {
  padding-left: 0;
  text-align: center;
}
.navigation__listItem:hover {
  background-color: #fbe4df;
  opacity: 0.7;
}
.navigation__listItem {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  max-width: 200px;
  text-decoration: none;
  color: #3c481b;
  background: #fbe4df;
  border-radius: 50px;
}
.navigation__link {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  max-width: 200px;
  text-decoration: none;
  color: #3c481b;
  background: #fbe4df;
  border-radius: 50px;
}