html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.container {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto;
  max-width: 1500px;
  display: block;
  background-color: #b5b35c;
  background: url("https://i.ibb.co/qJ4wMNz/DSC03324bluuuur.jpg");
  opacity: 96%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pageHeader {
  color: #3c481b;
  text-align: center;
  background: #fbe4df;
  font-size: 25px;
  line-height: 2;
  border-radius: 50px;
  text-shadow: 1px 1px 1px;
}
.footer {
  text-align: left;
  font-size: 10px;
}
